:root {
    --color-text-primary: #002b36;
    --color-text-secondary: #586e75;
    --color-text-tertiary:  #839496;
    --color-text-inversion: #eee8d5;
    --color-shape-primary:  #586e75;
    --color-shape-secondary:    #eee8d5;
    --color-shape-tertiary:     #eee8d5;
    --color-shape-highlight-medium: rgba(79, 79, 79, 0.08);
    --color-shape-highlight-light: rgba(79, 79, 79, 0.04);
    --color-control-accent: #252525;
    --color-control-active: #b6b6b6;
    --color-control-inactive: #dcdcdc;
    --color-control-bg: #fff;
    --color-bg-primary: #fdf6e3;
    --color-bg-loader: rgba(255,255,255,0.7);
    --color-system-accent-100: #ffb522;
    --color-system-accent-50: #ffd15b;
    --color-system-accent-25: #ffee94;
    --color-system-selection: rgba(24, 163, 241, 0.15);
    --color-system-drop-zone: rgba(255, 187, 44, 0.25);
    --color-yellow: #ecd91b;
    --color-orange: #ffb522;
    --color-red: #f55522;
    --color-pink: #e51ca0;
    --color-purple: #ab50cc;
    --color-blue: #3e58eb;
    --color-ice: #2aa7ee;
    --color-teal: #0fc8ba;
    --color-lime: #5dd400;
    --color-green: #66B395;
    --font-size-header1: 32px;
    --font-size-header2: 28px;
    --font-size-header3: 24.6px;
    --line-height-header1: normal;
    --line-height-header2: normal;
    --line-height-header3: normal;
}
body {
    font-family: Consolas , "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 设置header样式 */
.blocks .block.blockText.textHeader1>.wrapContent>.selectionTarget>.dropTarget{
    color:#8064a9;
    text-align: center ;
}
.blocks .block.blockText.textHeader2>.wrapContent>.selectionTarget>.dropTarget{
    color:#8064a9;
    padding-left: 0.4em;
    border-left:0.4em solid #8064a9;
    border-bottom: 1px solid #8064a9;
}
.blocks .block.blockText.textHeader3>.wrapContent>.selectionTarget>.dropTarget{
    color:#8064a9;
}

/* .blocks .block.blockText.textQuote>.wrapContent>.selectionTarget>.dropTarget>.flex>.editableWrap{
    padding-left: 28px;
    border-left: 0.3rem solid rgba(116, 95, 181, 0.2);
} */

/* 设置header1下划线 */
.blocks .block.blockText.textHeader1>.wrapContent>.selectionTarget>.dropTarget:after {
    content: "";
    display: block;
    margin: 0.2rem auto 0;
    width: 6rem;
    height: 2px;
    border-bottom: 2px solid #8064a9;
}

/* --------- FONT COLOURS IN LIGHT MODE ---------\
*/

:root {

    --color-grey: #E1E1E1  !important;
    --color-yellow: #FAC500  !important;
    --color-orange: #FB7D06 !important;
    --color-red: #E80055  !important;
    --color-pink: #ED00DF !important;
    --color-purple: #9E2CFF !important;
    --color-blue: #2D7DFF !important;
    --color-ice: #29F3FF  !important;
    --color-teal: #099090 !important;
    --color-lime: #5dd400 !important;
    --color-green: #00E706 !important;
    
    }
    
    
    /* --------- FONT COLOURS IN DARK MODE ---------\
    */
    
    
    html.themeDark {
    --color-grey: #E1E1E1  !important;
    --color-yellow: #FAC500  !important;
    --color-orange: #FB7D06 !important;
    --color-red: #E80055 !important;
    --color-pink: #ED00DF !important;
    --color-purple: #9E2CFF !important;
    --color-blue: #2D7DFF !important;
    --color-ice: #29F3FF  !important;
    --color-teal: #099090!important;
    --color-lime: #5dd400 !important;
    --color-green: #00E706 !important;
    }
    
    
    /* --------- VARIOUS OBJECTS IN DARK MODE ---------\
    */
    
    
    html.themeDark {
        --color-text-primary: #F4F4F4;
        --color-text-secondary: #9a9a9a;
        --color-text-tertiary: #606060;
        --color-text-inversion: #F4F4F4;
        --color-shape-primary: #555;
        --color-shape-secondary: #3f3f3f;
        --color-shape-tertiary: #262626 !important;
        --color-shape-highlight-dark: rgba(238, 238, 238, 0.24);
        --color-shape-highlight-medium: rgba(238, 238, 238, 0.12);
        --color-shape-highlight-light: rgba(238, 238, 238, 0.06);
        --color-shape-highlight-light-solid: #242424;
        --color-control-accent: #2195F3;
        --color-control-active: #9a9a9a;
        --color-control-inactive: #464646;
        --color-control-bg: #fff;
        --color-bg-primary: #2B2B2B !important;
        --color-bg-secondary: #252525;
        --color-bg-tertiary: #464646;
        --color-bg-loader: rgba(0,0,0,0.7);
        --color-system-accent-125: #ffc83c;
        --color-system-accent-50: #9f6b00;
        --color-system-accent-25: #f09c0e;
        --color-system-selection: rgba(24, 163, 241, 0.15);
    }
    
    
    
    
    
    
    /* --------- HIGHTLIGHT COLOURS IN LIGHT MODE ---------\
    */
    
    
    
    :root {
    
     .bgColor-grey {
    background: #CFCFCF  !important;
        }
    .bgColor-yellow {
    background: #FFF668  !important;
        }
    .bgColor-orange {
    background: #FEAD6F  !important;
        }
    .bgColor-red {
    background: #FF6F92 !important;
        }
    .bgColor-pink {
    background: #FFA7FB   !important;
        }
     .bgColor-purple {
    background: #BC6DFF  !important;
        }
    .bgColor-blue {
    background: #28B8FF  !important;
        }
    .bgColor-ice {
    background: #5CFDFF  !important;
        }
    .bgColor-teal {
    background: #02B9AE   !important;
        }
    .bgColor-lime {
    background: #8FFFA4  !important;
        }
    
    }
    
    
    
    /* --------- HIGHTLIGHT COLOURS IN DARK MODE ---------\
    */
    
    
    
    
    html.themeDark .bgColor-grey {
    background: #CFCFCF  !important;
        }
    html.themeDark .bgColor-yellow {
    background: #FFF668  !important;
        }
    html.themeDark .bgColor-orange {
    background: #FEAD6F  !important;
        }
    html.themeDark .bgColor-red {
    background: #FF6F92  !important;
        }
    html.themeDark .bgColor-pink {
    background: #FFA7FB   !important;
        }
    html.themeDark .bgColor-purple {
    background: #BC6DFF  !important;
        }
    html.themeDark .bgColor-blue {
    background: #28B8FF  !important;
        }
    html.themeDark .bgColor-ice {
    background: #5CFDFF !important;
        }
    html.themeDark .bgColor-teal {
    background: #02B9AE  !important;
        }
    html.themeDark .bgColor-lime {
    background: #8FFFA4  !important;
        }
    
    
    
    
    
    
    
    /* --------- TAG COLOURS IN LIGHT MODE ---------\
    */
    
    
    
    :root {
    
    .isMultiSelect.tagColor-grey {
        color: #000000 !important;
    background: #CFCFCF !important;
    }
    .isMultiSelect.tagColor-yellow {
        color: #000000 !important;
    background: #FFF668 !important;
    }
    .isMultiSelect.tagColor-orange {
        color: #000000  !important;
    background: #FEAD6F !important;
    }
    .isMultiSelect.tagColor-red {
        color: #000000  !important;
    background: #FF6F92 !important;
    }
    .isMultiSelect.tagColor-pink {
        color: #000000 !important;
    background: #FFA7FB !important;
    }
    .isMultiSelect.tagColor-purple {
        color: #000000 !important;
    background: #BC6DFF !important;
    }
    .isMultiSelect.tagColor-blue {
        color: #000000 !important;
    background: #28B8FF !important;
    }
    .isMultiSelect.tagColor-ice {
        color: #000000  !important;
    background: #5CFDFF !important;
    }
    .isMultiSelect.tagColor-teal {
        color: #000000 !important;
    background: #02B9AE  !important;
    }
    .isMultiSelect.tagColor-lime {
        color: #000000 !important;
    background: #8FFFA4 !important;
    }
    
    
    }
    
    
    
    /* --------- TAG COLOURS IN DARK MODE ---------\
    */
    
    
    
    html.themeDark .isMultiSelect.tagColor-grey {
        color: #000000 !important;
    background: #CFCFCF !important;
    }
    html.themeDark .isMultiSelect.tagColor-yellow {
        color: #000000 !important;
    background: #FFF668 !important;
    }
    html.themeDark .isMultiSelect.tagColor-orange {
        color: #000000  !important;
    background: #FEAD6F !important;
    }
    html.themeDark .isMultiSelect.tagColor-red {
        color: #000000  !important;
    background: #FF6F92 !important;
    }
    html.themeDark .isMultiSelect.tagColor-pink {
        color: #000000 !important;
    background: #FFA7FB !important;
    }
    html.themeDark .isMultiSelect.tagColor-purple {
        color: #000000 !important;
    background: #BC6DFF !important;
    }
    html.themeDark .isMultiSelect.tagColor-blue {
        color: #000000 !important;
    background: #28B8FF !important;
    }
    html.themeDark .isMultiSelect.tagColor-ice {
        color: #000000  !important;
    background: #5CFDFF !important;
    }
    html.themeDark .isMultiSelect.tagColor-teal {
        color: #000000 !important;
    background: #02B9AE  !important;
    }
    html.themeDark .isMultiSelect.tagColor-lime {
        color: #000000 !important;
    background: #8FFFA4 !important;
    }
    
    
    
    /* --------- STYLES FOR THE HIGHLIGHTS & BLOCK BACKGROUNDS IN DARK MODE ---------\
    */
    
    
    /* Universal styles for highlighting and curved corners */
    
    /* Styles for blocks with custom background */
    .bgColor,
    [style*="background-color"] {
      border-radius: 3px;
    }
    
    /* Styles for inline highlights */
    mark,
    span[style*="background-color"] {
      border-radius: 3px;
      padding: 0 3px;  /* Add some padding for better appearance */
    }
    
    /* Dark mode specific styles */
    html.themeDark {
      /* Default text color for dark mode */
      color: white;
    
      /* Styles for highlighted text or blocks with custom background in dark mode */
      .bgColor,
      [style*="background-color"] {
        color: black !important;
      }
    
      /* Ensure text remains black in editable areas with custom background in dark mode */
      .wrapContent.bgColor .editableWrap,
      .wrapContent[style*="background-color"] .editableWrap {
        color: black !important;
      }
    }
    
    /* Light mode specific styles */
    html.themeLight {
      /* Default text color for light mode */
      color: black;
    
      /* Ensure text remains visible on custom backgrounds in light mode */
      .bgColor,
      [style*="background-color"] {
        color: black !important;
      }
    }
    
    
    
    
    /* Spaces Bar Background Colour */
    html.themeDark .vault {
        background-color: #333333;
    }
    
    
    
    
    /* internal links */
    markupmention {
      color: #099090 ;
    }
    
    
    
    /* external links */
    .blocks .block.blockText markuplink {
      color: #2D7DFF;
    }
    
    
    
