.blocks .block.blockText.textHeader1>.wrapContent>.selectable>.dropTarget{
    font-family: Consolas , "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}
/* .blocks .block.blockText.textHeader2{
    
} */

.textHeader1{
    color:#8064a9
}
.textHeader2{
    color:#ffb522;
    font-size: 24px;
    border-left: 0.4em solid #8064a9;
    border-bottom: 1px solid #8064a9;
}
.textHeader3{
    color:#5dd400
}
.textHeader4{
    color:#0095ff
}

.linkCard {
    text-decoration: underline;
}