.editor {
    font-family: Consolas , "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blocks .block.blockText.textHeader1>.wrapContent>.selectable>.dropTarget{
    font-family: Consolas , "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}
.blocks .block.blockText.textHeader2>.wrapContent>.selectable>.dropTarget{
    font-family: Consolas , "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28.8px;

} 
.blocks .block.blockText.textHeader3>.wrapContent>.selectable>.dropTarget{
    font-family: Consolas , "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25.6px;

} 
.textHeader1{
    color:#ff0000
}
.textHeader2{
    color:#8064a9;
    font-size: 28.8px;
    border-left: 0.8em solid #8064a9;
    border-bottom: 1px solid #8064a9;
}
.textHeader3{
    font-size: 25.6px;
    color:#5dd400
}
.textHeader4{
    color:#0095ff
}

.linkCard {
    text-decoration: underline;
}